
.collage-imgage {
    width: 650px;
    height: 650px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.home-card {
    float: right;
    text-align: left;
}
    
.not-found {
    background: url('./assets/not-found.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.card-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.signup-background {
    background: url('./assets/signup-background.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.signin-background {
    background: url('./assets/signin-background.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.new-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}