
.collage-image {
    width: 650px;
    height: 650px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.home-card {
    float: right;
    text-align: left;
    width: '25rem'
}
    
.not-found {
    background: url('./assets/not-found.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.card-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.signup-background {
    background: url('./assets/signup-background.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.signin-background {
    background: url('./assets/signin-background.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.new-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 80vh;
}
.post-show-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-left: 50vh;
    padding-right: 50vh;
    padding-bottom: 20vh;
    padding-top: 1vh;
}
#post-show-edit-button {
    background-color: rgb(7, 213, 7);
    margin-right: 20px;
}
#post-show-delete-button {
    background-color: rgb(235, 16, 16);
}
#post-show-back-button {
    background-color: rgb(7, 175, 213);
    margin-right: 20px;
}
.index-container {
    flex-direction: row ;
    flex-wrap: wrap;
    padding-bottom: 20vh;
    padding-top: 1vh;
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-gap: auto;
    justify-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
}
.card {
    background-color: #f1f1f1; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 10px; 
    flex-basis: calc(33% - 20px); 
}
.card img {
    width: 100%; 
    border-radius: 10px 10px 0 0; 
}
.card-content {
    padding: 16px; 
}
.card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.card-rating {
    font-size: 1em;
    margin-bottom: 1em;
}
.card button {
    background-color: #00c5ca; 
    color: black;
    margin-top: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
  
  
@media (max-width: 600px) {
    .card {
        flex-basis: calc(50% - 20px); 
    }
}
  
@media (max-width: 400px) {
    .card {
      flex-basis: 100%; 
    }
}
.edit-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00c5ca; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
    margin: 10px; 
    padding: 10px;
}
.edit-a-post {
    background-image: url('./assets/edit-a-post.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}
.edit-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00c5ca; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 10px; 
    flex-basis: calc(33% - 20px);
    padding: 20px;
    scroll-padding-bottom: 35vh;
}
.new-post-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00c5ca; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
    margin: 10px; 
    padding: 10px;
}
.new-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00c5ca; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 10px; 
    flex-basis: calc(33% - 20px);
    padding: 20px;
    scroll-padding-bottom: 30vh;
}
#new-post-submit-button {
    background-color: rgb(7, 213, 7);
}
