
#home-card {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 50%; */
    margin: auto;
    /* margin-right: 50%; */
}
    
.not-found {
    background: url('./assets/not-found.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.card-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.signup-background {
    background: url('./assets/signup-background.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.signin-background {
    background: url('./assets/signin-background.jpg') center center/cover repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 80vh;
    margin: auto;
}
.post-show-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-left: 50vh;
    padding-right: 50vh;
    padding-bottom: 20vh;
    padding-top: 1vh;
}
#post-show-edit-button {
    background-color: rgb(7, 213, 7);
    margin-right: 20px;
}
#post-show-delete-button {
    background-color: rgb(235, 16, 16);
}
#post-show-back-button {
    background-color: rgb(7, 175, 213);
    margin-right: 20px;
}

.index-container {
    flex-direction: row ;
    flex-wrap: wrap;
    padding-bottom: 20vh;
    padding-top: 1vh;
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-gap: auto;
    justify-items: center;
    margin-bottom: 10vh;
}
.no-post-pic {
    background: url('./assets/no-post-pic.png') no-repeat;
    background-position: auto;
    background-position: center;
    background-size: 100%;
    margin: -20px;
    margin-top: -35px;
    height: 90vh;
    width: 100%;

}
.no-post {
    color: black;
}
#first-post-button {
    position: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
}
.card {
    background-color: #f1f1f1; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 40px; 
    flex-basis: calc(33% - 20px); 
    
}
.card img {
    border-radius: 10px 10px 0 0; 
    max-width: 100%;
    max-height: 400px;
}
.card-content {
    padding: 16px; 
}
.card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.card-rating {
    font-size: 1em;
    margin-bottom: 1em;
}
.card button {
    background-color: #00c5ca; 
    color: black;
    margin-top: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    
}
  
  
@media (max-width: 600px) {
    .card {
        flex-basis: calc(50% - 20px); 
    }
}
  
@media (max-width: 400px) {
    .card {
      flex-basis: 100%; 
    }
}
.edit-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00c5ca; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
    margin: 10px; 
    padding: 10px;
    margin-top: 10vh;
}
.edit-a-post {
    background-image: url('./assets/Dalle.png');
    background-position: center;
    background-size: 165%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-bottom: 5vh;
}
.edit-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00c5ca; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 10px; 
    flex-basis: calc(33% - 20px);
    padding: 20px;
    margin-bottom: 20vh;
}
.new-post-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00c5ca; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
    margin: 10px; 
    padding: 10px;
    margin-top: 7vh;
}
.new-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00c5ca; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
    flex-basis: calc(33% - 20px);
    padding: 20px;
    margin-bottom: 15vh;
}
#new-post-submit-button {
    background-color: rgb(7, 213, 7);
}
#navbar-links {
    justify-content: right;
}
.post-show-container {
    background-image: url('./assets/post-show-background.png');
}


.postedit-button {
    color: black;

}

.dropDownMenu {
    text-align: right;
    color: black;
    margin-left: auto;
}

.index-subtitle {
    margin-bottom: 0.5em;

}

.index-title {
    margin-bottom: 0.5em;
}

#homepage {
    background-image: url("./assets/home-background.png");
    background-position: center;
}

.header-links {
    color: black;
}

.header-links:hover{
    color: white;
}

.footer-logo{
    height: 30px;
}

.footer-links{
    color: black;
    padding: 10px;
}

.footer-copy{
    margin: auto;
    font-size: 8px;
}

.stack{
    display: grid;
}

.links-inFooter{
    margin: auto;
}

#navbar-footer{
    display: flex;
    justify-content: space-between;
}